In [1]:
import pandas as pd
import numpy as np

In [2]:
# D_2009 = pd.read_csv("Data/EXPORT/2009.csv")
# D_2010 = pd.read_csv("Data/EXPORT/2010.csv")
# D_2011 = pd.read_csv("Data/EXPORT/2011.csv")
# D_2012 = pd.read_csv("Data/EXPORT/2012.csv")
# D_2013 = pd.read_csv("Data/EXPORT/2013.csv")
# D_2014 = pd.read_csv("Data/EXPORT/2014.csv")
# D_2015 = pd.read_csv("Data/EXPORT/2015.csv")
# D_2016 = pd.read_csv("Data/EXPORT/2016.csv")
# D_2017 = pd.read_csv("Data/EXPORT/2017.csv")
# D_2018 = pd.read_csv("Data/EXPORT/2018.csv")
# D_2019 = pd.read_csv("Data/EXPORT/2019.csv")
# D_2020 = pd.read_csv("Data/EXPORT/2020.csv")
# D_2021 = pd.read_csv("Data/EXPORT/2021.csv")

/raid/omer_david/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (22,56,70,83,84,85,86,87,88,95,96,97,100,105,106,107,108,109,116,117,120,121,122,123,124,125,135,142,143,144,145,146,154,183,184,185,186,187,188,196,197,198,199,200,201,208,209,210,211,212,213,221,222,223) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/raid/omer_david/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/raid/omer_david/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# # create a dictionary of DataFrames
# dfs = {
# #     'D_2009': D_2009,
# #     'D_2010': D_2010,
# #     'D_2011': D_2011,
# #     'D_2012': D_2012,
# #     'D_2013': D_2013,
# #     'D_2014': D_2014,
#     'D_2015': D_2015,
#     'D_2016': D_2016,
#     'D_2017': D_2017,
#     'D_2018': D_2018,
#     'D_2019': D_2019,
#     'D_2020': D_2020,
#     'D_2021': D_2021
# }

# # iterate over each DataFrame and print the number of columns
# for name, df in dfs.items():
#     num_cols = df.shape[1]
#     print(f"{name} has {num_cols} columns.")

D_2015 has 240 columns.
D_2016 has 240 columns.
D_2017 has 240 columns.
D_2018 has 241 columns.
D_2019 has 226 columns.
D_2020 has 225 columns.
D_2021 has 225 columns.

In [4]:
# column_names = [set(df.columns) for df in dfs.values()]

# # find common columns
# common_columns = set.intersection(*column_names)

# # print common columns
# print(common_columns)

In [5]:
common_columns = {'lbo_rec', 'mager14', 'f_ca_cleft', 'f_cigs_3', 'mar_p', 'ca_omph', 'ca_anen', 'ilop_r11', 'rf_inftr', 'me_trial', 'ab_aven6', 'f_ca_menin', 'ilp_r11', 'f_rf_eclamp', 'ca_cleft', 'tbo_rec', 'ca_cchd', 'ld_augm', 'rf_fedrg', 'ca_disor', 'f_rf_ncesar', 'f_pay_rec', 'f_pwgt', 'f_ob_succ', 'f_ca_limb', 'f_rf_gdiab', 'bwtr4', 'cig_3', 'f_rf_ppb', 'ld_anes', 'ilive', 'f_cigs_2', 'm_ht_in', 'dlmp_mm', 'ab_seiz', 'f_wtgain', 'bwtr12', 'f_ca_cleftlp', 'f_facility', 'f_ca_chrom', 'f_ob_fail', 'me_pres', 'dob_wk', 'f_cigs_1', 'priorterm', 'wic', 'cig_rec', 'f_ab_nicu', 'f_rf_pdiab', 'sex', 'f_rf_ghyper', 'f_cigs_0', 'gestrec3', 'pay', 'fagerpt_flg', 'mm_mtr', 'apgar10', 'mtran', 'ld_ster', 'imp_sex', 'ab_anti', 'ab_nicu', 'f_ca_heart', 'f_tpcv', 'f_wic', 'dob_tt', 'mm_plac', 'f_rf_cesar', 'f_bfed', 'rf_cesar', 'f_ca_hypos', 'mracehisp', 'f_ab_surfac', 'ca_gast', 'dbwt', 'pay_rec', 'f_mar_p', 'restatus', 'mm_rupt', 'mraceimp', 'cig_2', 'wtgain', 'mage_impflg', 'f_ca_anen', 'pwgt_r', 'f_apgar5', 'dob_mm', 'setorder_r', 'bfacil3', 'apgar10r', 'f_ab_vent6', 'f_ab_antibio', 'f_ab_vent', 'f_pay', 'ca_clpal', 'mar_imp', 'ca_hypo', 'illb_r11', 'wtgain_rec', 'previs_rec', 'combgest', 'dplural', 'rf_cesarn', 'dmeth_rec', 'mage_repflg', 'rf_ppterm', 'itran', 'f_rf_phyper', 'ld_indl', 'f_ab_seiz', 'dwgt_r', 'rf_artec', 'ld_chor', 'attend', 'fagecomb', 'bmi', 'ca_limb', 'f_m_ht', 'mager', 'rdmeth_rec', 'f_ca_hernia', 'bfacil', 'precare', 'apgar5r', 'f_ca_ompha', 'ca_cdh', 'fracehisp', 'ab_surf', 'gestrec10', 'illb_r', 'mager9', 'cig_0', 'cig_1', 'f_meduc', 'meduc', 'f_mpcb', 'imp_plur', 'ilop_r', 'obgest_flg', 'ca_mnsb', 'dlmp_yy', 'bfed', 'bmi_r', 'mm_uhyst', 'f_tobaco', 'ab_aven1', 'f_ca_gastro', 'fagerec11', 'feduc', 'apgar5', 'f_dwgt', 'dob_yy', 'me_rout', 'f_ca_downs'}

In [6]:
len(common_columns)

154

In [7]:
df_c = pd.concat([df.loc[:, common_columns] for df in dfs.values()])

In [8]:
df_c

,f_m_ht,dob_mm,previs_rec,rf_inftr,fracehisp,dlmp_yy,gestrec10,f_ab_surfac,f_rf_eclamp,ilop_r11,...,rf_artec,f_cigs_2,ab_surf,pwgt_r,apgar10r,attend,me_rout,illb_r,feduc,mar_imp
0,1,1,4,N,4.0,2014,10,1,1,88.0,...,X,1,N,129.0,5.0,1,1.0,12.0,2.0,NaN
1,1,1,9,N,1.0,2014,7,1,1,99.0,...,X,1,N,187.0,5.0,1,1.0,26.0,5.0,NaN
2,1,1,5,N,1.0,2014,6,1,1,88.0,...,X,1,N,999.0,5.0,1,2.0,888.0,4.0,NaN
3,1,1,6,N,7.0,2014,7,1,1,88.0,...,X,1,N,122.0,5.0,1,1.0,92.0,3.0,NaN
4,1,1,8,N,1.0,2014,9,1,1,88.0,...,X,1,N,228.0,5.0,1,1.0,888.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3669923,1,12,5,N,7.0,2021,6,1,1,88.0,...,X,1,N,120.0,5.0,3,1.0,24.0,6.0,NaN
3669924,1,10,1,U,8.0,9999,99,1,1,99.0,...,U,1,U,999.0,5.0,5,9.0,999.0,9.0,NaN
3669925,1,12,6,N,1.0,2021,7,1,1,99.0,...,X,1,N,118.0,5.0,1,1.0,54.0,6.0,NaN
3669926,1,6,8,N,2.0,2020,8,1,1,88.0,...,X,1,N,136.0,5.0,3,1.0,888.0,3.0,NaN
3669927,1,4,1,U,8.0,9999,99,1,1,99.0,...,U,1,U,999.0,5.0,5,9.0,999.0,9.0,NaN

In [2]:
D_2009_2014 = pd.read_csv("Data/D_2009_2014_Common_colls_cleaned.csv")
D_2015_2021 = pd.read_csv("Data/D_2015_2021_Common_colls_cleaned.csv")

/raid/omer_david/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/raid/omer_david/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (70) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
combined_df = pd.concat([D_2009_2014, D_2015_2021], ignore_index=True)

In [4]:
combined_df.to_csv('Data/Joined_Data_2009_2021_cleaned_commonColls.csv', index=False)

In [5]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50664365 entries, 0 to 50664364
Data columns (total 78 columns):
 #   Column      Dtype
---  ------      -----
 0   ld_augm     float64
 1   ca_mnsb     float64
 2   mtran       float64
 3   rf_cesarn   float64
 4   me_pres     float64
 5   rf_artec    float64
 6   attend      float64
 7   dob_mm      int64
 8   ca_disor    float64
 9   rdmeth_rec  float64
 10  ca_anen     float64
 11  ab_surf     float64
 12  ca_limb     float64
 13  ca_cchd     float64
 14  tbo_rec     float64
 15  ab_aven6    float64
 16  pay         float64
 17  mraceimp    float64
 18  illb_r11    float64
 19  ilop_r11    float64
 20  dlmp_yy     float64
 21  dwgt_r      float64
 22  me_trial    float64
 23  ab_anti     float64
 24  dbwt        float64
 25  ilive       float64
 26  ld_chor     float64
 27  me_rout     float64
 28  cig_3       float64
 29  precare     float64
 30  priorterm   float64
 31  ld_ster     float64
 32  bfacil      float64
 33  mar_p       object
 34  combgest    float64
 35  itran       float64
 36  meduc       float64
 37  cig_0       float64
 38  lbo_rec     float64
 39  fagecomb    float64
 40  bmi         float64
 41  rf_ppterm   float64
 42  ab_seiz     float64
 43  pwgt_r      float64
 44  ilp_r11     float64
 45  f_mar_p     int64
 46  bfed        float64
 47  apgar5      float64
 48  mm_rupt     float64
 49  ca_clpal    float64
 50  cig_1       float64
 51  feduc       float64
 52  ca_omph     float64
 53  rf_inftr    float64
 54  mm_plac     float64
 55  ld_anes     float64
 56  mm_uhyst    float64
 57  cig_2       float64
 58  mager       int64
 59  ab_nicu     float64
 60  m_ht_in     float64
 61  rf_fedrg    float64
 62  ab_aven1    float64
 63  wtgain      float64
 64  ld_indl     float64
 65  mar_imp     float64
 66  dplural     float64
 67  ca_cleft    float64
 68  dlmp_mm     float64
 69  ca_gast     float64
 70  mm_mtr      float64
 71  ca_hypo     float64
 72  dob_yy      int64
 73  ca_cdh      float64
 74  mracehisp   float64
 75  dob_wk      int64
 76  apgar10     float64
 77  sex         int64
dtypes: float64(71), int64(6), object(1)
memory usage: 29.4+ GB

In [5]:
D_2009_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24005896 entries, 0 to 24005895
Columns: 154 entries, ld_augm to sex
dtypes: float64(39), int64(75), object(40)
memory usage: 27.5+ GB

In [3]:
# Concatenate the DataFrames
concatenated_data = pd.concat([D_2009_2014, D_2015_2021], ignore_index=True)

In [7]:

# Export the concatenated DataFrame to CSV
concatenated_data.to_csv("Data/Joined_Data_2009_2021_Common_colls_2.csv", index=False)

In [220]:
def data_cleaning_births(_df):
#     _df = _df.fillna(None)
    #for each column:
    #null, missing values (unknown), incorrect values, outliers
    
    # Birth year: 2021
    _df['dob_yy']= _df['dob_yy'].apply(lambda x: x if (int('1980') <= x <= int('2021')) else None)

    
    # Birth Month, leave numbers as is; 12 = December, 01 = January
    _df['dob_mm']= _df['dob_mm'].apply(lambda x: x if (int('01') <= x <= int('12')) else None)
    
    
    # Time of Birth: 0000-2359 Time of Birth; else null
#     _df['dob_tt'] = _df['dob_tt'].apply(lambda x: x if (int('0000') <= int(x) <= int('2359')) else None)
    _df = _df.drop('dob_tt', axis=1)
    
    # Birth Day of Week: 7 = Saturday, 1 = Sunday; else null
    _df['dob_wk']= _df['dob_wk'].apply(lambda x: x if (int('1') <= x <= int('7')) else None)

    
    # Birth Place; Home(intended) = Home(not intended)
#     conditions = [
#         _df['bfacil'].eq(1),
#         _df['bfacil'].eq(2),
#         _df['bfacil'].eq(3),
#         _df['bfacil'].eq(4), 
#         _df['bfacil'].eq(5),
#         _df['bfacil'].eq(6),
#         _df['bfacil'].eq(7), 
#     ]
#     choices = [
#         'Hospital',
#         'BirthCenter',
#         'Home',
#         'Home',
#         'Home',
#         'Clinic',
#         'Other'
#     ]
#     _df['bfacil'] = np.select(conditions, choices, 'null')

    _df['bfacil']= _df['bfacil'].apply(lambda x: x if (int('1') <= x <= int('7')) else None)

    #Reporting Flag for Birth Place 0 Non-Reporting
    _df = _df.drop('f_facility', axis=1)

    #facility recode 
    _df = _df.drop('bfacil3', axis=1)

    #Mother’s Age Imputed
    _df = _df.drop('mage_impflg', axis=1)

    #Reported Age of Mother Used Flag
    _df = _df.drop('mage_repflg', axis=1)
    
    
    # Mother's Single Years of Age; note 0 = 10-12, and 50 = 50 and over
    _df['mager']= _df['mager'].apply(lambda x: x if (int('12') <= x <= int('50')) else None)
    
    #Mother’s Age Recode 14
    _df =_df.drop('mager14', axis=1)
    
    #Mother’s Age Recode 9
    _df =_df.drop('mager9', axis=1)
  

    
    # Mother's Nativity
#     conditions = [
#         _df['mbstate_rec'].eq(1),
#         _df['mbstate_rec'].eq(2)
#     ]
#     choices = [
#         'BornInUSA',
#         'BornOutUSA'
#     ]
#     _df['mbstate_rec'] = np.select(conditions, choices, 'Unknown')
    
#     _df['mbstate_rec']= _df['mbstate_rec'].apply(lambda x: x if (int('1') <= x <= int('2')) else None)

    #Residence Status
    _df =_df.drop('restatus', axis=1)
    
    
    #Mother’s Race Recode 31
#     _df['mrace31']= _df['mrace31'].apply(lambda x: x if (int('01') <= x <= int('31')) else None)

    # Mother's Race Recode 6
#     _df =_df.drop('mrace6', axis=1)
    
    #Mother’s Race Recode 15
#     _df['mrace15']= _df['mrace15'].apply(lambda x: x if (int('01') <= x <= int('15')) else None)

    
    #Mother’s Race Imputed Flag
#     _df =_df.drop('mraceimp', axis=1)

    
    # Mother's Hispanic Origin
#     conditions = [
#         _df['mhisp_r'].eq(0),
#         _df['mhisp_r'].eq(1),
#         _df['mhisp_r'].eq(2),
#         _df['mhisp_r'].eq(3),
#         _df['mhisp_r'].eq(4),
#         _df['mhisp_r'].eq(5),
#         _df['mhisp_r'].eq(6)
#     ]
#     choices = [
#         'Non-Hispanic',
#         'Mexican',
#         'Puerto Rican',
#         'Cuban',
#         'CentralSouthAmerican',
#         'OtherHispanic',
#         'Dominican'
#     ]
#     _df['mhisp_r'] = np.select(conditions, choices, 'Unknown')

#     _df['mhisp_r']= _df['mhisp_r'].apply(lambda x: x if (int('0') <= x <= int('5')) else None)

    
    #Mother’s Hispanic Origin Recode
#     _df =_df.drop('mhisp_r', axis=1)

    #Reporting Flag for Mother’s Origin
#     _df =_df.drop('f_mhisp', axis=1)

    
    # Mother's Race/Hispanic Origin
#     _df =_df.drop('mracehisp', axis=1)

    
    
    #Paternity Acknowledged
#     _df =_df.drop('mar_p', axis=1)

    
    # Marital Status: 1= married; 0 - else;
#     _df['dmar'] = np.where(_df['dmar'].eq(1), 1, 0)
    
    
    #Mother’s Marital Status Imputed
#     _df =_df.drop('mar_imp', axis=1)

    #Reporting Flag for Paternity Acknowledged
#     _df =_df.drop('f_mar_p', axis=1)

    
    # Mother's Education
#     conditions = [
#         _df['meduc'].eq(1),
#         _df['meduc'].eq(2),
#         _df['meduc'].eq(3),
#         _df['meduc'].eq(4),
#         _df['meduc'].eq(5),
#         _df['meduc'].eq(6),
#         _df['meduc'].eq(7),
#         _df['meduc'].eq(8)
#     ]
#     choices = [
#         'JuniorHighIncomplete',
#         'HighSchoolIncomplete',
#         'HighSchoolComplete',
#         'CollegeIncomplete',
#         'AssociateDegree',
#         'BachelorDegree',
#         'MasterDegree',
#         'Doctorate'
#     ]
#     _df['meduc'] = np.select(conditions, choices, 'Unknown')

    _df['meduc']= _df['meduc'].apply(lambda x: x if (int('1') <= x <= int('8'))else None)

    
    #Reporting Flag for Education of Mother
    _df =_df.drop('f_meduc', axis=1)

    
    #Father’s Reported Age Used
    _df =_df.drop('fagerpt_flg', axis=1)
    
    #Father’s Combined Age
    _df['fagecomb']= _df['fagecomb'].apply(lambda x: x if (int('09') <= x <= int('98')) else None)


    #Father’s Age Recode 11: imputing missing fathers age with average
    _df =_df.drop('fagerec11', axis=1)
    
    #Father’s Race Recode 31
#     _df['frace31']= _df['frace31'].apply(lambda x: x if (int('01') <= x <= int('31')) else None)

    
    # Father's Race Recode 6
#     _df =_df.drop('frace6', axis=1)
    
    #Father’s Race Recode 15
#     _df['frace15']= _df['frace15'].apply(lambda x: x if (int('01') <= x <= int('15')) else None)
    

    # Father's Hispanic Origin
#     conditions = [
#         _df['fhisp_r'].eq(0),
#         _df['fhisp_r'].eq(1),
#         _df['fhisp_r'].eq(2),
#         _df['fhisp_r'].eq(3),
#         _df['fhisp_r'].eq(4),
#         _df['fhisp_r'].eq(5),
#         _df['fhisp_r'].eq(6)
#     ]
#     choices = [
#         'NonHispanic',
#         'Mexican',
#         'PuertoRican',
#         'Cuban',
#         'CentralSouthAmerican',
#         'Dominican',
#         'OtherHispanic'
#     ]
#     _df['fhisp_r'] = np.select(conditions, choices, 'Unknown')
    
#     _df['fhisp_r']= _df['fhisp_r'].apply(lambda x: x if (int('0') <= x <= int('4')) else None)

    #Father’s Hispanic Origin Recode
#     _df =_df.drop('fhisp_r', axis=1)

    #Reporting Flag for Father’s Origin
#     _df =_df.drop('f_fhisp', axis=1)

    
    
    # Father's Race/Hispanic Origin
#     conditions = [
#         _df['fracehisp'].eq(1),
#         _df['fracehisp'].eq(2),
#         _df['fracehisp'].eq(3),
#         _df['fracehisp'].eq(4),
#         _df['fracehisp'].eq(5),
#         _df['fracehisp'].eq(6),
#         _df['fracehisp'].eq(7),
#         _df['fracehisp'].eq(8)
#     ]
#     choices = [
#         'NonHispanicWhite',
#         'NonHispanicBlack',
#         'NonHispanicAIAN',
#         'NonHispanicAsian',
#         'NonHispanicNHOPI',
#         'NonHispanicMulti',
#         'Hispanic',
#         'Unknown'
#     ]
#     _df['fracehisp'] = np.select(conditions, choices, 'Unknown')
    
    _df['fracehisp']= _df['fracehisp'].apply(lambda x: x if (int('1') <= x <= int('7')) else None)

    
    #Father’s Race/Hispanic Origin
    _df =_df.drop('fracehisp', axis=1)

    
    
    # Father's Education
#     conditions = [
#         _df['feduc'].eq(1),
#         _df['feduc'].eq(2),
#         _df['feduc'].eq(3),
#         _df['feduc'].eq(4),
#         _df['feduc'].eq(5),
#         _df['feduc'].eq(6),
#         _df['feduc'].eq(7),
#         _df['feduc'].eq(8)
#     ]
#     choices = [
#         'JuniorHighIncomplete',
#         'HighSchoolIncomplete',
#         'HighSchoolComplete',
#         'CollegeIncomplete',
#         'AssociateDegree',
#         'BachelorDegree',
#         'MasterDegree',
#         'Doctorate'
#     ]
#     _df['feduc'] = np.select(conditions, choices, 'Unknown')

    _df['feduc']= _df['feduc'].apply(lambda x: x if (int('1') <= x <= int('8')) else None)

    
   #Reporting Flag for Education of Father - exist only in the guide 
    #_df =_df.drop('f_feduc', axis=1)


    # Prior Births Now Living: 00-30 number of still living from previous live births, 99 unkown
#     conditions = [
#         _df['priorlive'].eq(0),
#         _df['priorlive'].eq(1),
#         _df['priorlive'].eq(99)
#     ]
#     choices = [
#         'None',
#         'One',
#         'Unknown'
#     ]
#     _df['priorlive'] = np.select(conditions, choices, 'Multi')

#     _df['priorlive']= _df['priorlive'].apply(lambda x: x if (int('00') <= x <= int('30')) else None)

    
    # Prior Births Now Dead: 00-30 number of dead from previous live births, 99 unkown
#     conditions = [
#         _df['priordead'].eq(0),
#         _df['priordead'].eq(1),
#         _df['priordead'].eq(99)
#     ]
#     choices = [
#         'None',
#         'One',
#         'Unknown'
#     ]
#     _df['priordead'] = np.select(conditions, choices, 'Multi')
    
    
#     _df['priordead']= _df['priordead'].apply(lambda x: x if (int('00') <= x <= int('30')) else None)

    # Prior Other Terminations:  00-30 number of other terminations from previous live births, 99 unkown
#     conditions = [
#         _df['priorterm'].eq(0),
#         _df['priorterm'].eq(1),
#         _df['priorterm'].eq(99)
#     ]
#     choices = [
#         'None',
#         'One',
#         'Unknown'
#     ]
#     _df['priorterm'] = np.select(conditions, choices, 'Multi')

    _df['priorterm']= _df['priorterm'].apply(lambda x: x if (int('00') <= x <= int('30')) else None)
    
    #Live Birth Order Recode: 1-7 number of live birth order. 8 - 8 or more. 9-unknown
    _df['lbo_rec']= _df['lbo_rec'].apply(lambda x: x if (int('1') <= x <= int('8')) else None)
    
    #Total Birth Order Recode: 1-7 number of total birth order. 8 - 8 or more. 9-unknown
    _df['tbo_rec']= _df['tbo_rec'].apply(lambda x: x if (int('1') <= x <= int('8')) else None)

    # Interval Since Last Live Birth Recode
    _df =_df.drop('illb_r', axis=1)

    #Interval Since Last Live Birth Recode 11: 00-08 - range of months. 88-replace in 0. 99 - unknown
    _df['illb_r11'] = np.where(_df['illb_r11'].eq(88), '00', _df['illb_r11'])
    #_df['illb_r11']= _df['illb_r11'].apply(lambda x: x if (int('00') <= x <= int('08')) else None)
    _df['illb_r11'] = _df['illb_r11'].apply(lambda x: int(float(x)) if (isinstance(x, float) or (isinstance(x, str) and x.replace('.', '', 1).isdigit())) else None)

    # Interval since last other Pregnancy
    _df =_df.drop('ilop_r', axis=1)

    #Interval since last other Pregnancy Recode 11: 00-08 - range of months. 88-replace in 0. 99 - unknown
    _df['ilop_r11'] = np.where(_df['ilop_r11'].eq(88), '00', _df['ilop_r11'])
    _df['ilop_r11'] = _df['ilop_r11'].apply(lambda x: int(x) if (isinstance(x, int) and int('00') <= x <= int('08')) else (int(float(x)) if (isinstance(x, float) or (isinstance(x, str) and x.replace('.', '', 1).isdigit())) else None))
    
    # Interval since Last pregnancy
#     _df =_df.drop('ilp_r', axis=1)
    
    #Interval since Last pregnancy Recode 11: 00-08 - range of months. 88-replace in 0. 99 - unknown
    _df['ilp_r11'] = np.where(_df['ilp_r11'].eq(88), '00', _df['ilp_r11'])
    _df['ilp_r11'] = _df['ilp_r11'].apply(lambda x: int(x) if (isinstance(x, int) and int('00') <= x <= int('08')) else (int(float(x)) if (isinstance(x, float) or (isinstance(x, str) and x.replace('.', '', 1).isdigit())) else None))
    
    # Month Prenatal Care Began: 0 - no care; 00-10 - month; 99-unknown
    _df['precare'] = _df['precare'].apply(lambda x: int(x) if (isinstance(x, int) and int('00') <= x <= int('10')) else (int(x) if (isinstance(x, float) and not np.isnan(x)) else None))

    #Reporting Flag for Month Prenatal Care Began
    _df =_df.drop('f_mpcb', axis=1)

    #Month Prenatal Care Began Recode
#     _df =_df.drop('precare5', axis=1)

    # Number of Prenatal Visits: 00-98 - number of visits; 99-unknown
#     _df['previs']= _df['previs'].apply(lambda x: x if (int('00') <= x <= int('98')) else None)
    
    #Number of Prenatal Visits Recode
    _df =_df.drop('previs_rec', axis=1)

    #Reporting Flag for Total Prenatal Care Visits
    _df =_df.drop('f_tpcv', axis=1)

    #WIC
    _df =_df.drop('wic', axis=1)
        
    #Reporting Flag for WIC
    _df =_df.drop('f_wic', axis=1)

    # Cigarettes before Pregnancy: 00-97 - number of cigs daily; 98 - 98 or more; 99 - unknown
    _df['cig_0']= _df['cig_0'].apply(lambda x: x if (int('00') <= x <= int('98')) else None)

    
    # Cigarettes 1st Trimester: 00-97 - number of cigs daily; 98 - 98 or more; 99 - unknown
    _df['cig_1']= _df['cig_1'].apply(lambda x: x if (int('00') <= x <= int('98')) else None)

    # Cigarettes 2nd Trimester: 00-97 - number of cigs daily; 98 - 98 or more; 99 - unknown
    _df['cig_2']= _df['cig_2'].apply(lambda x: x if (int('00') <= x <= int('98')) else None)
    
    # Cigarettes 3rd Trimester: 00-97 - number of cigs daily; 98 - 98 or more; 99 - unknown
    _df['cig_3']= _df['cig_3'].apply(lambda x: x if (int('00') <= x <= int('98')) else None)


    
    #Cigarettes Before Pregnancy Recode
#     _df =_df.drop('cig0_r', axis=1)

    #Cigarettes 1st Trimester Recode
#     _df =_df.drop('cig1_r', axis=1)
    
    #Cigarettes 2nd Trimester Recode
#     _df =_df.drop('cig2_r', axis=1)
    
#     #Cigarettes 3rd Trimester Recode
#     _df =_df.drop('cig3_r', axis=1)
    
    #Reporting Flag for Cigarettes before Pregnancy
    _df =_df.drop('f_cigs_0', axis=1)
    
    #Reporting Flag for Cigarettes 1st Trimester
    _df =_df.drop('f_cigs_1', axis=1)
    
    #Reporting Flag for Cigarettes 2nd Trimester
    _df =_df.drop('f_cigs_2', axis=1)

    #Reporting Flag for Cigarettes 3rd Trimester
    _df =_df.drop('f_cigs_3', axis=1)
    
    #Cigarette Recode
    _df =_df.drop('cig_rec', axis=1)

    #Reporting Flag for Tobacco use 
    _df =_df.drop('f_tobaco', axis=1)
    
    # Mother's Height in Total Inches: 30-78 - height in inches; 99-unknown; imputing average height if missing
    _df['m_ht_in'] = np.where(_df['m_ht_in'].eq(99), 64, _df['m_ht_in'])
    _df['m_ht_in']= _df['m_ht_in'].apply(lambda x: x if (int('30') <= x <= int('78')) else None)

    
    # Height Reported
    _df =_df.drop('f_m_ht', axis=1)
    
    # Body Mass Index: 13.0-69.9 Body Mass Index; 99.9 - unknown; if missing, impute mean
    _df['bmi'] = np.where(_df['bmi'].eq(99), 27.9, _df['bmi'])
    _df['bmi']= _df['bmi'].apply(lambda x: x if (float('13.0') <= x <= float('69.9')) else None)
    
    #Body Mass Index Recode 
    _df =_df.drop('bmi_r', axis=1)

    # Pre-pregnancy weight: 075-375 Weight in pounds; 999-unknown
    _df['pwgt_r'] = np.where(_df['pwgt_r'].eq(999), 164, _df['pwgt_r'])
    _df['pwgt_r']= _df['pwgt_r'].apply(lambda x: x if (int('075') <= x <= int('375')) else None)

    
    #Reporting Flag for Pre-pregnancy Weight
    _df =_df.drop('f_pwgt', axis=1)
    
    # Delivery Weight Recode: 100-400 Weight in pounds; 999-unknown
    _df['dwgt_r'] = np.where(_df['dwgt_r'].eq(999), 193, _df['dwgt_r'])
    _df['dwgt_r']= _df['dwgt_r'].apply(lambda x: x if (int('100') <= x <= int('400')) else None)

    
    #Reporting Flag for Delivery Weight
    _df =_df.drop('f_dwgt', axis=1)
    
    # Weight Gain: 00-97 Weight gain in pounds; 98 - 98 or over; 99- unknown
    _df['wtgain'] = np.where(_df['wtgain'].eq(99), _df['dwgt_r'] - _df['pwgt_r'], _df['wtgain'])
    _df['wtgain']= _df['wtgain'].apply(lambda x: x if (int('00') <= x <= int('98')) else None)

    
    #Weight Gain Recode
    _df =_df.drop('wtgain_rec', axis=1)

    #Reporting Flag for Weight Gain
    _df =_df.drop('f_wtgain', axis=1)


    
    
#     # Pre-pregnancy Diabetes: Y N U
#     conditions = [
#         _df['rf_pdiab'].eq('Y'),
#         _df['rf_pdiab'].eq('N'),
#         _df['rf_pdiab'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['rf_pdiab'] = np.select(conditions, choices, None)
    
    
#     #Gestational Diabetes: Y N U
#     conditions = [
#         _df['rf_gdiab'].eq('Y'),
#         _df['rf_gdiab'].eq('N'),
#         _df['rf_gdiab'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['rf_gdiab'] = np.select(conditions, choices, None)


#    #Pre-pregnancy Hypertension: Y N U
#     conditions = [
#         _df['rf_phype'].eq('Y'),
#         _df['rf_phype'].eq('N'),
#         _df['rf_phype'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['rf_phype'] = np.select(conditions, choices, None)


#     #Gestational Hypertension: y n u
#     conditions = [
#         _df['rf_ghype'].eq('Y'),
#         _df['rf_ghype'].eq('N'),
#         _df['rf_ghype'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['rf_ghype'] = np.select(conditions, choices, None)


#     #Hypertension Eclampsia: y n u
#     conditions = [
#         _df['rf_ehype'].eq('Y'),
#         _df['rf_ehype'].eq('N'),
#         _df['rf_ehype'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['rf_ehype'] = np.select(conditions, choices, None)

 
    #Previous Preterm Birth: y n u
    conditions = [
        _df['rf_ppterm'].eq('Y'),
        _df['rf_ppterm'].eq('N'),
        _df['rf_ppterm'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['rf_ppterm'] = np.select(conditions, choices, None)


    #Reporting Flag for Pre-pregnancy Diabetes
    _df =_df.drop('f_rf_pdiab', axis=1)

    #Reporting Flag for Gestational Diabetes
    _df =_df.drop('f_rf_gdiab', axis=1)

    #Reporting Flag for Pre-pregnancy Hypertension
    _df =_df.drop('f_rf_phyper', axis=1)

    #Reporting Flag for Gestational Hypertension
    _df =_df.drop('f_rf_ghyper', axis=1)

    #Reporting Flag for Hypertension Eclampsia
    _df =_df.drop('f_rf_eclamp', axis=1)

    #Reporting Flag for Previous Preterm Birth
    _df =_df.drop('f_rf_ppb', axis=1)

    #Infertility Treatment Used: y n u
    conditions = [
        _df['rf_inftr'].eq('Y'),
        _df['rf_inftr'].eq('N'),
        _df['rf_inftr'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['rf_inftr'] = np.select(conditions, choices, None)
   
    
    #Fertility Enhancing Drugs: y n u
    conditions = [
        _df['rf_fedrg'].eq('Y'),
        _df['rf_fedrg'].eq('N'),
        _df['rf_fedrg'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['rf_fedrg'] = np.select(conditions, choices, None)
   
    
    #Asst. Reproductive Technology: y n u
    conditions = [
        _df['rf_artec'].eq('Y'),
        _df['rf_artec'].eq('N'),
        _df['rf_artec'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['rf_artec'] = np.select(conditions, choices, None)
    
    
    #Reporting Flag for Infertility Treatment - only appears in guide
#     #_df =_df.drop('f_rf_inft', axis=1)

#     #Reporting Flag for Fertility Enhance Drugs
#     _df =_df.drop('f_rf_inf_drg', axis=1)

#     #Reporting Flag for Reproductive Technology
#     _df =_df.drop('f_rf_inf_art', axis=1)

    # Previous Cesarean
    _df =_df.drop('rf_cesar', axis=1)
    
    
    # Number of Previous Cesareans: 00-30 - number of previous cesareans; 99- unknown
    _df['rf_cesarn']= _df['rf_cesarn'].apply(lambda x: x if (int('00') <= x <= int('30')) else None)

    
    #Reporting Flag for Previous Cesarean
    _df =_df.drop('f_rf_cesar', axis=1)

    #Reporting Flag for Number of Previous Cesareans
    _df =_df.drop('f_rf_ncesar', axis=1)

#     #No Risk Factors Reported
#     _df =_df.drop('no_risks', axis=1)
    
#     #Gonorrhea: y n u 
#     conditions = [
#         _df['ip_gon'].eq('Y'),
#         _df['ip_gon'].eq('N'),
#         _df['ip_gon'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['ip_gon'] = np.select(conditions, choices, None)
    

    
#     #Syphilis: y n u
#     conditions = [
#         _df['ip_syph'].eq('Y'),
#         _df['ip_syph'].eq('N'),
#         _df['ip_syph'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['ip_syph'] = np.select(conditions, choices, None)
     

    
#     #Chlamydia: y n u
#     conditions = [
#         _df['ip_chlam'].eq('Y'),
#         _df['ip_chlam'].eq('N'),
#         _df['ip_chlam'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['ip_chlam'] = np.select(conditions, choices, None)
    

    
#     #Hepatitis B: y n u - only on the guide
#     conditions = [
#         _df['ip_hepatb'].eq('Y'),
#         _df['ip_hepatb'].eq('N'),
#         _df['ip_hepatb'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['ip_hepatb'] = np.select(conditions, choices, None)
    

    
#     #Hepatitis C: y n u - only on the guide
#     conditions = [
#         _df['ip_hepatc'].eq('Y'),
#         _df['ip_hepatc'].eq('N'),
#         _df['ip_hepatc'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['ip_hepatc'] = np.select(conditions, choices, None)



#     #Reporting Flag for Gonorrhea: y n u
#     _df =_df.drop('f_ip_gonor', axis=1)

    
    #Reporting Flag for Syphilis: y n u
#     _df =_df.drop('f_ip_syph', axis=1)

    
#     #Reporting Flag for Chlamydia: y n u
#     _df =_df.drop('f_ip_chlam', axis=1)

    
#     #Reporting Flag for Hepatitis B: y n u
#     _df =_df.drop('f_ip_hepatb', axis=1)

    
#     #Reporting Flag for Hepatitis C : y n u
#     _df =_df.drop('f_ip_hepatc', axis=1)
    
#     # No Infections Reported
#     _df =_df.drop('no_infec', axis=1)

#     #Successful External Cephalic Version: y n u
#     conditions = [
#         _df['ob_ecvs'].eq('Y'),
#         _df['ob_ecvs'].eq('N'),
#         _df['ob_ecvs'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['ob_ecvs'] = np.select(conditions, choices, None)


#     #Failed External Cephalic Version: y n u
#     conditions = [
#         _df['ob_ecvf'].eq('Y'),
#         _df['ob_ecvf'].eq('N'),
#         _df['ob_ecvf'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['ob_ecvf'] = np.select(conditions, choices, None)

    #Reporting Flag for Successful External Cephalic Version
    _df =_df.drop('f_ob_succ', axis=1)

    #Reporting Flag for Failed External Cephalic Version 
    _df =_df.drop('f_ob_fail', axis=1)

    #Induction of Labor
    conditions = [
        _df['ld_indl'].eq('Y'),
        _df['ld_indl'].eq('N'),
        _df['ld_indl'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ld_indl'] = np.select(conditions, choices, None)

    
    #Augmentation of Labor
    conditions = [
        _df['ld_augm'].eq('Y'),
        _df['ld_augm'].eq('N'),
        _df['ld_augm'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ld_augm'] = np.select(conditions, choices, None)


    
    #Steroids
    conditions = [
        _df['ld_ster'].eq('Y'),
        _df['ld_ster'].eq('N'),
        _df['ld_ster'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ld_ster'] = np.select(conditions, choices, None)


    
    #Antibiotics
#     conditions = [
#         _df['ld_antb'].eq('Y'),
#         _df['ld_antb'].eq('N'),
#         _df['ld_antb'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['ld_antb'] = np.select(conditions, choices, None)


    
    #Chorioamnionitis
    conditions = [
        _df['ld_chor'].eq('Y'),
        _df['ld_chor'].eq('N'),
        _df['ld_chor'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ld_chor'] = np.select(conditions, choices, None)


    
    #Anesthesia
    conditions = [
        _df['ld_anes'].eq('Y'),
        _df['ld_anes'].eq('N'),
        _df['ld_anes'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ld_anes'] = np.select(conditions, choices, None)


    
#     #Reporting Flag for Induction of Labor
# #     _df =_df.drop('f_ld_indl', axis=1)

#     #Reporting Flag for Augmentation of Labor
#     _df =_df.drop('f_ld_augm', axis=1)

#     #Reporting Flag for Steroids
#     _df =_df.drop('f_ld_ster', axis=1)

    #Reporting Flag for Antibiotics
# #     _df =_df.drop('f_ld_antb', axis=1)

#     #Reporting Flag for Chorioamnionitis
#     _df =_df.drop('f_ld_chor', axis=1)

#     #Reporting Flag for Anesthesia
# #     _df =_df.drop('f_ld_anes', axis=1)

#     #No Characteristics of Labor Reported
#     _df =_df.drop('no_lbrdlv', axis=1)

        
    # Fetal Presentation at Delivery
#     conditions = [
#         _df['me_pres'].eq(1),
#         _df['me_pres'].eq(2),
#         _df['me_pres'].eq(3)
#     ]
#     choices = [
#         'Cephalic',
#         'Breech',
#         'Other'
#     ]
#     _df['me_pres'] = np.select(conditions, choices, 'Unknown')
    
    _df['me_pres']= _df['me_pres'].apply(lambda x: x if (int('1') <= x <= int('3')) else None)

    
    # Final Route and Method of Delivery
#     conditions = [
#         _df['me_rout'].eq(1),
#         _df['me_rout'].eq(2),
#         _df['me_rout'].eq(3),
#         _df['me_rout'].eq(4)
#     ]
#     choices = [
#         'Spontaneous',
#         'Forceps',
#         'Vacuum',
#         'Cesarean'
#     ]
#     _df['me_rout'] = np.select(conditions, choices, 'Unknown')
    
    _df['me_rout']= _df['me_rout'].apply(lambda x: x if (int('1') <= x <= int('4')) else None)

    
    #Trial of Labor Attempted (if cesarean): Y N U X 
    conditions = [
        _df['me_trial'].eq('Y'),
        _df['me_trial'].eq('N'),
        _df['me_trial'].eq('U'),
        _df['me_trial'].eq('X')
    ]
    choices = [
        1,
        0,
        None,
        None
    ]
    _df['me_trial'] = np.select(conditions, choices, None)

    
#     #Reporting Flag for Fetal Presentation
# #     _df =_df.drop('f_me_pres', axis=1)
# #     #Reporting Flag for Final Route and Method of Deliver
# #     _df =_df.drop('f_me_rout', axis=1)
#     #Reporting Flag for Trial of Labor Attempted
#     _df =_df.drop('f_me_trial', axis=1)
        
        
        
    # Delivery Method Recode
#     conditions = [
#         _df['rdmeth_rec'].eq(1),
#         _df['rdmeth_rec'].eq(2),
#         _df['rdmeth_rec'].eq(3),
#         _df['rdmeth_rec'].eq(4),
#         _df['rdmeth_rec'].eq(5),
#         _df['rdmeth_rec'].eq(6)
#     ]
#     choices = [
#         'Vaginal',
#         'VaginalAfterCSection',
#         'PrimaryCSection',
#         'RepeatCSection',
#         'Vaginal',
#         'PrimaryCSection'
#     ]
#     _df['rdmeth_rec'] = np.select(conditions, choices, 'Unknown')
    
    _df['rdmeth_rec']= _df['rdmeth_rec'].apply(lambda x: x if (int('1') <= x <= int('6')) else None)

    
    #Delivery Method Recode
    _df =_df.drop('dmeth_rec', axis=1)

    
#     #Reporting Flag for Method of Delivery Recode
#     _df =_df.drop('f_dmeth_rec', axis=1)

    
    #Maternal Transfusion 
    conditions = [
        _df['mm_mtr'].eq('Y'),
        _df['mm_mtr'].eq('N'),
        _df['mm_mtr'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['mm_mtr'] = np.select(conditions, choices, None)


    #Perineal Laceration
    conditions = [
        _df['mm_plac'].eq('Y'),
        _df['mm_plac'].eq('N'),
        _df['mm_plac'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['mm_plac'] = np.select(conditions, choices, None)
    
        
    #Ruptured Uterus
    conditions = [
        _df['mm_rupt'].eq('Y'),
        _df['mm_rupt'].eq('N'),
        _df['mm_rupt'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['mm_rupt'] = np.select(conditions, choices, None)
 
        
    #Unplanned Hysterectomy
    conditions = [
        _df['mm_uhyst'].eq('Y'),
        _df['mm_uhyst'].eq('N'),
        _df['mm_uhyst'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['mm_uhyst'] = np.select(conditions, choices, None)
    
    
#     #Admit to Intensive Care
#     conditions = [
#         _df['mm_aicu'].eq('Y'),
#         _df['mm_aicu'].eq('N'),
#         _df['mm_aicu'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['mm_aicu'] = np.select(conditions, choices, None)
    
        
#    #Reporting Flag for Maternal Transfusion
# #     _df =_df.drop('f_mm_mtr', axis=1)

#     #Reporting Flag for Perineal Laceration
#     _df =_df.drop('f_mm_plac', axis=1)
        
    #Reporting Flag for Ruptured Uterus
#     _df =_df.drop('f_mm_rupt', axis=1)

#     #Reporting Flag for Unplanned Hysterectomy
#     _df =_df.drop('f_mm_uhyst', axis=1)

#    #Reporting Flag for Admission to Intensive Care
# #     _df =_df.drop('f_mm_aicu', axis=1)    
        
#     # No Maternal Morbidty Reported
#     _df =_df.drop('no_mmorb', axis=1)
 
    
    # Attendant at Birth
#     conditions = [
#         _df['attend'].eq(1),
#         _df['attend'].eq(2),
#         _df['attend'].eq(3),
#         _df['attend'].eq(4),
#         _df['attend'].eq(5)
#     ]
#     choices = [
#         'DoctorMedicine',
#         'DoctorOsteopathy',
#         'NurseMidwife',
#         'OtherMidwife',
#         'Other'
#     ]
#     _df['attend'] = np.select(conditions, choices, 'Unknown')
    
    _df['attend']= _df['attend'].apply(lambda x: x if (int('1') <= x <= int('5')) else None)

    
    # Mother Transferred: y n u
    conditions = [
        _df['mtran'].eq('Y'),
        _df['mtran'].eq('N'),
        _df['mtran'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['mtran'] = np.select(conditions, choices, None)

    
    # Payment Source for Delivery
#     conditions = [
#         _df['pay'].eq(1),
#         _df['pay'].eq(2),
#         _df['pay'].eq(3),
#         _df['pay'].eq(4),
#         _df['pay'].eq(5),
#         _df['pay'].eq(6),
#         _df['pay'].eq(8),
#     ]
#     choices = [
#         'Medicaid',
#         'PrivateInsurance',
#         'SelfPay',
#         'IndianHealthService',
#         'Tricare',
#         'OtherGovernment',
#         'Other'
#     ]
#     _df['pay'] = np.select(conditions, choices, 'Unknown')

    _df['pay']= _df['pay'].apply(lambda x: x if (int('1') <= x <= int('6')) else None)

    
        
    #Payment Recode
    _df =_df.drop('pay_rec', axis=1)
        
    #Reporting Flag for Source of Payment
    _df =_df.drop('f_pay', axis=1)

        
    #Reporting Flag for Payment Recode
    _df =_df.drop('f_pay_rec', axis=1)

    #Five Minute APGAR Score: 00-10 score; 99- unknown
    _df['apgar5']= _df['apgar5'].apply(lambda x: x if (int('00') <= x <= int('10')) else None)

    
    #Five Minute APGAR Recode
    _df =_df.drop('apgar5r', axis=1)
    
    #Reporting Flag for Five minute APGAR
    _df =_df.drop('f_apgar5', axis=1)
        
    #Ten Minute APGAR Score: 00-10 score; 99- unknown
    _df['apgar10']= _df['apgar10'].apply(lambda x: x if (int('00') <= x <= int('10')) else None)

        
    #Ten Minute APGAR Recode
    _df =_df.drop('apgar10r', axis=1)
    
    #Plurality Recode: 1, 2, 3, 4 - 4 or more
    _df['dplural']= _df['dplural'].apply(lambda x: x if (int('1') <= x <= int('4')) else None)
    
    #Plurality Imputed
    _df =_df.drop('imp_plur', axis=1)

    #Set Order Recode
    _df =_df.drop('setorder_r', axis=1)
    
    #Sex of Infant: F/M
    conditions = [
        _df['sex'].eq('F'),
        _df['sex'].eq('M'),
    ]
    choices = [
        1,
        0
    ]
    _df['sex'] = np.select(conditions, choices, None)


    #Imputed Sex
    _df =_df.drop('imp_sex', axis=1)
    
    #Last Normal Menses Month: january...december; 99-unknown
    conditions = [
        _df['dlmp_mm'].eq('January'),
        _df['dlmp_mm'].eq('February'),
        _df['dlmp_mm'].eq('March'),
        _df['dlmp_mm'].eq('April'),
        _df['dlmp_mm'].eq('May'),
        _df['dlmp_mm'].eq('June'),
        _df['dlmp_mm'].eq('July'),
        _df['dlmp_mm'].eq('August'),
        _df['dlmp_mm'].eq('September'),
        _df['dlmp_mm'].eq('October'),
        _df['dlmp_mm'].eq('November'),
        _df['dlmp_mm'].eq('December'),
    ]
    choices = [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12
    ]
    _df['dlmp_mm'] = np.select(conditions, choices, None)

    
    #Last Normal Menses Year: nnnn - year; 9999 - unknown
    _df['dlmp_yy']= _df['dlmp_yy'].apply(lambda x: x if (int('1980') <= x <= int('2021')) else None)


#    #Combined Gestation Imputation Flag
#     _df =_df.drop('compgst_imp', axis=1)
        
    #Obstetric Estimate of Gestation Used Flag
    _df =_df.drop('obgest_flg', axis=1)

    #Combined Gestation – Detail in Weeks: 17-47 17th through 47th week of Gestation; 99- unknown
    _df['combgest']= _df['combgest'].apply(lambda x: x if (int('17') <= x <= int('47')) else None)


        
    #Combined Gestation Recode 10
    _df =_df.drop('gestrec10', axis=1)

    
    #Combined Gestation Recode 3
    _df =_df.drop('gestrec3', axis=1)
        
#     #Combined Gestation Used Flag
# #     _df =_df.drop('lmpused', axis=1)
    
#     #Obstetric Estimate Edited
#     _df['oegest_comb']= _df['oegest_comb'].apply(lambda x: x if (int('17') <= x <= int('47')) else None)
 
    
    #Obstetric Estimate Recode10 
#     _df =_df.drop('oegest_r10', axis=1) 

#     #Obstetric Estimate Recode 3
#     _df =_df.drop('oegest_r3', axis=1) 
    
    #Birth Weight – Detail in Grams (Edited): 0227-8165 Number of grams; 9999 - unknown
    _df['dbwt']= _df['dbwt'].apply(lambda x: x if (int('0227') <= x <= int('8165')) else None)

    
    #Birth Weight Recode 12
    _df =_df.drop('bwtr12', axis=1) 

    #Birth Weight Recode 4 
    _df =_df.drop('bwtr4', axis=1)
        
    #Assisted Ventilation (immediately): Y N U
    conditions = [
        _df['ab_aven1'].eq('Y'),
        _df['ab_aven1'].eq('N'),
        _df['ab_aven1'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ab_aven1'] = np.select(conditions, choices, None)
            
    #Assisted Ventilation > 6 hrs: Y N U
    conditions = [
        _df['ab_aven6'].eq('Y'),
        _df['ab_aven6'].eq('N'),
        _df['ab_aven6'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ab_aven6'] = np.select(conditions, choices, None)
    
    
    #Admission to NICU: Y N U
    conditions = [
        _df['ab_nicu'].eq('Y'),
        _df['ab_nicu'].eq('N'),
        _df['ab_nicu'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ab_nicu'] = np.select(conditions, choices, None)
    
        
    #Surfactant
    conditions = [
        _df['ab_surf'].eq('Y'),
        _df['ab_surf'].eq('N'),
        _df['ab_surf'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ab_surf'] = np.select(conditions, choices, None)
    
        
    #Antibiotics for Newborn: Y N U
    conditions = [
        _df['ab_anti'].eq('Y'),
        _df['ab_anti'].eq('N'),
        _df['ab_anti'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ab_anti'] = np.select(conditions, choices, None)
     
        
    #Seizures: Y N U
    conditions = [
        _df['ab_seiz'].eq('Y'),
        _df['ab_seiz'].eq('N'),
        _df['ab_seiz'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ab_seiz'] = np.select(conditions, choices, None)
     
    
        
    #Reporting Flag for Assisted Ventilation (immediately)
    _df =_df.drop('f_ab_vent', axis=1) 

    #Reporting Flag for Assisted Ventilation >6 hrs
    _df =_df.drop('f_ab_vent6', axis=1) 
        
    #Reporting Flag for Admission to NICU
    _df =_df.drop('f_ab_nicu', axis=1) 
        
        
    #Reporting Flag for Surfactant
    _df =_df.drop('f_ab_surfac', axis=1) 
        
    #Reporting Flag for Antibiotics
    _df =_df.drop('f_ab_antibio', axis=1) 
        
    #Reporting Flag for Seizures
    _df =_df.drop('f_ab_seiz', axis=1) 
    
    #No Abnormal Conditions Checked
#     _df =_df.drop('no_abnorm', axis=1) 
    
    #Anencephaly: Y N U 
    conditions = [
        _df['ca_anen'].eq('Y'),
        _df['ca_anen'].eq('N'),
        _df['ca_anen'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_anen'] = np.select(conditions, choices, None)

    
    #Meningomyelocele / Spina Bifida: Y N U 
    conditions = [
        _df['ca_mnsb'].eq('Y'),
        _df['ca_mnsb'].eq('N'),
        _df['ca_mnsb'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_mnsb'] = np.select(conditions, choices, None)

    
    #Cyanotic Congenital Heart Disease: Y N U 
    conditions = [
        _df['ca_cchd'].eq('Y'),
        _df['ca_cchd'].eq('N'),
        _df['ca_cchd'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_cchd'] = np.select(conditions, choices, None)

    
    #Congenital Diaphragmatic Hernia: Y N U 
    conditions = [
        _df['ca_cdh'].eq('Y'),
        _df['ca_cdh'].eq('N'),
        _df['ca_cdh'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_cdh'] = np.select(conditions, choices, None)
 
        
    #Omphalocele: Y N U 
    conditions = [
        _df['ca_omph'].eq('Y'),
        _df['ca_omph'].eq('N'),
        _df['ca_omph'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_omph'] = np.select(conditions, choices, None)

        
    #Gastroschisis: Y N U 
    conditions = [
        _df['ca_gast'].eq('Y'),
        _df['ca_gast'].eq('N'),
        _df['ca_gast'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_gast'] = np.select(conditions, choices, None)

        
    #Reporting Flag for Anencephaly
    _df =_df.drop('f_ca_anen', axis=1) 
        
    #Reporting Flag for Meningomyelocele/Spina Bifida
    _df =_df.drop('f_ca_menin', axis=1) 
    
    #Reporting Flag for Cyanotic Congenital Heart Disease
    _df =_df.drop('f_ca_heart', axis=1) 
        
    #Reporting Flag for Congenital Diaphragmatic Hernia
    _df =_df.drop('f_ca_hernia', axis=1) 
    
    #  Reporting Flag for Omphalocele 
    _df =_df.drop('f_ca_ompha', axis=1) 
        
    # Reporting Flag for Gastroschisis  
    _df =_df.drop('f_ca_gastro', axis=1) 
    
        
    #  Limb Reduction Defect
    conditions = [
        _df['ca_limb'].eq('Y'),
        _df['ca_limb'].eq('N'),
        _df['ca_limb'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_limb'] = np.select(conditions, choices, None)
        
    
    #   Cleft Lip w/ or w/o Cleft Palate
    conditions = [
        _df['ca_cleft'].eq('Y'),
        _df['ca_cleft'].eq('N'),
        _df['ca_cleft'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_cleft'] = np.select(conditions, choices, None)
       
        
    #Cleft Palate alone
    conditions = [
        _df['ca_clpal'].eq('Y'),
        _df['ca_clpal'].eq('N'),
        _df['ca_clpal'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_clpal'] = np.select(conditions, choices, None)
        
        
    #Down Syndrome
#     conditions = [
#         _df['ca_downs'].eq('Y'),
#         _df['ca_downs'].eq('N'),
#         _df['ca_downs'].eq('U')
#     ]
#     choices = [
#         1,
#         0,
#         None
#     ]
#     _df['ca_downs'] = np.select(conditions, choices, None)
        
    
    #Suspected Chromosomal Disorder
    conditions = [
        _df['ca_disor'].eq('Y'),
        _df['ca_disor'].eq('N'),
        _df['ca_disor'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_disor'] = np.select(conditions, choices, None)
        
        
    #   Hypospadias
    conditions = [
        _df['ca_hypo'].eq('Y'),
        _df['ca_hypo'].eq('N'),
        _df['ca_hypo'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ca_hypo'] = np.select(conditions, choices, None)
        
        
        
    #Reporting Flag for Limb Reduction Defect
    _df =_df.drop('f_ca_limb', axis=1) 

    #  Reporting Flag for Cleft Lip with or without Cleft Palate
    _df =_df.drop('f_ca_cleftlp', axis=1) 

    #Reporting Flag for Cleft Palate Alone
    _df =_df.drop('f_ca_cleft', axis=1) 

    #Reporting Flag for Down Syndrome
    _df =_df.drop('f_ca_downs', axis=1) 

    #Reporting Flag for Suspected Chromosomal Disorder
    _df =_df.drop('f_ca_chrom', axis=1) 

    #Reporting Flag for Hypospadias
    _df =_df.drop('f_ca_hypos', axis=1) 

#     #No Congenital Anomalies Checked
#     _df =_df.drop('no_congen', axis=1) 
        
        
        #Infant Transferred: Y N U
    conditions = [
        _df['itran'].eq('Y'),
        _df['itran'].eq('N'),
        _df['itran'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['itran'] = np.select(conditions, choices, None)
       
        
        #Infant Living at Time of Report: Y N U
    conditions = [
    _df['ilive'].eq('Y'),
    _df['ilive'].eq('N'),
    _df['ilive'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['ilive'] = np.select(conditions, choices, None)
        
        
        #Infant Breastfed at Discharge: Y N U
    conditions = [
        _df['bfed'].eq('Y'),
        _df['bfed'].eq('N'),
        _df['bfed'].eq('U')
    ]
    choices = [
        1,
        0,
        None
    ]
    _df['bfed'] = np.select(conditions, choices, None)
       
        
        
        #Reporting Flag for Breastfed at Discharge
    _df =_df.drop('f_bfed', axis=1) 
        
    #removing all fillers
    columns_to_drop = [col for col in _df.columns if 'FILLER' in col]
    _df = _df.drop(columns=columns_to_drop)
        
        
    return _df

In [214]:
# sampled_data = D_2009_2014.sample(n=1000, random_state=42)

In [221]:
cleaned_data = data_cleaning_births(D_2015_2021)

In [222]:
cleaned_data.to_csv("Data/D_2015_2021_Common_colls_cleaned.csv", index=False)

In [8]:
#remember to check the number of nulls in bmi and age columns

In [9]:
cleaned_data

,dob_yy,dob_mm,dob_tt,dob_wk,bfacil,mager,mbstate_rec,mrace31,mrace15,mhispx,...,ca_gast,ca_limb,ca_cleft,ca_clpal,ca_downs,ca_disor,ca_hypo,itran,ilive,bfed
0,2021,1,636.0,7,1.0,22,1.0,1,1,4,...,0,0,0,0,0,0,0,0,1,1
1,2021,1,259.0,7,1.0,31,1.0,22,15,0,...,0,0,0,0,0,0,0,0,1,1
2,2021,1,223.0,1,1.0,29,1.0,1,1,0,...,0,0,0,0,0,0,0,0,1,1
3,2021,1,241.0,1,1.0,39,1.0,1,1,3,...,0,0,0,0,0,0,0,0,1,1
4,2021,1,503.0,1,1.0,20,2.0,5,13,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3669923,2021,12,1901.0,6,3.0,35,1.0,13,15,0,...,0,0,0,0,0,0,0,1,1,1
3669924,2021,10,520.0,7,3.0,29,1.0,2,2,9,...,None,None,None,None,None,None,None,None,1,None
3669925,2021,12,242.0,7,1.0,36,1.0,1,1,0,...,0,0,0,0,0,0,0,0,1,1
3669926,2021,6,2146.0,6,3.0,27,1.0,2,2,0,...,0,0,0,0,0,0,0,0,1,1
3669927,2021,4,705.0,5,3.0,38,1.0,2,2,9,...,None,None,None,None,None,None,None,None,1,None

In [2]:
cleaned_data = pd.read_csv("Data/Joined_Data_2009_2021_cleaned_commonColls.csv")

/raid/omer_david/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#number of nulls in cleaned data
null_counts = cleaned_data.isnull().sum()
print("--------------------CLEANED DATA------------------------------------")
# Print null counts for each column
for column_name, count in null_counts.items():
    print("Column:", column_name)
    print("Number of null values:", count)
    print("---")


for column_name in cleaned_data.columns:
    unique_values = cleaned_data[column_name].value_counts()
    print("Column:", column_name)
    print("Num of unique vals: ", len(unique_values))
    print("---")
    
    
    
#number of nulls in data before cleaning
print("--------------------DATA BEOFRE CLEANING------------------------------")
null_counts = data.isnull().sum()

# Print null counts for each column
for column_name, count in null_counts.items():
    print("Column:", column_name)
    print("Number of null values:", count)
    print("---")


for column_name in data.columns:
    unique_values = data[column_name].value_counts()
    print("Column:", column_name)
    print("Num of unique vals: ", len(unique_values))
    print("---")

--------------------CLEANED DATA------------------------------------
Column: ld_augm
Number of null values: 3909846
---
Column: ca_mnsb
Number of null values: 4012044
---
Column: mtran
Number of null values: 3905091
---
Column: rf_cesarn
Number of null values: 3964516
---
Column: me_pres
Number of null values: 4531348
---
Column: rf_artec
Number of null values: 49949773
---
Column: attend
Number of null values: 31906
---
Column: dob_mm
Number of null values: 0
---
Column: ca_disor
Number of null values: 4031704
---
Column: rdmeth_rec
Number of null values: 3878315
---
Column: ca_anen
Number of null values: 4012044
---
Column: ab_surf
Number of null values: 3964872
---
Column: ca_limb
Number of null values: 4012044
---
Column: ca_cchd
Number of null values: 4012044
---
Column: tbo_rec
Number of null values: 420356
---
Column: ab_aven6
Number of null values: 3964872
---
Column: pay
Number of null values: 5266421
---
Column: mraceimp
Number of null values: 47566231
---
Column: illb_r11
Number of null values: 3848631
---
Column: ilop_r11
Number of null values: 3848631
---
Column: dlmp_yy
Number of null values: 2359090
---
Column: dwgt_r
Number of null values: 3848630
---
Column: me_trial
Number of null values: 35828476
---
Column: ab_anti
Number of null values: 3964872
---
Column: dbwt
Number of null values: 48818
---
Column: ilive
Number of null values: 3925765
---
Column: ld_chor
Number of null values: 3909846
---
Column: me_rout
Number of null values: 3878315
---
Column: cig_3
Number of null values: 5733529
---
Column: precare
Number of null values: 3843314
---
Column: priorterm
Number of null values: 364775
---
Column: ld_ster
Number of null values: 3909846
---
Column: bfacil
Number of null values: 3845599
---
Column: mar_p
Number of null values: 6061858
---
Column: combgest
Number of null values: 46705
---
Column: itran
Number of null values: 3895130
---
Column: meduc
Number of null values: 4455242
---
Column: cig_0
Number of null values: 5650979
---
Column: lbo_rec
Number of null values: 229205
---
Column: fagecomb
Number of null values: 9593399
---
Column: bmi
Number of null values: 5393319
---
Column: rf_ppterm
Number of null values: 3938866
---
Column: ab_seiz
Number of null values: 3964872
---
Column: pwgt_r
Number of null values: 3848630
---
Column: ilp_r11
Number of null values: 3848631
---
Column: f_mar_p
Number of null values: 0
---
Column: bfed
Number of null values: 10803050
---
Column: apgar5
Number of null values: 220306
---
Column: mm_rupt
Number of null values: 4005773
---
Column: ca_clpal
Number of null values: 4012044
---
Column: cig_1
Number of null values: 5654909
---
Column: feduc
Number of null values: 10661960
---
Column: ca_omph
Number of null values: 4012044
---
Column: rf_inftr
Number of null values: 3938866
---
Column: mm_plac
Number of null values: 3965124
---
Column: ld_anes
Number of null values: 3909846
---
Column: mm_uhyst
Number of null values: 3965124
---
Column: cig_2
Number of null values: 5658164
---
Column: mager
Number of null values: 0
---
Column: ab_nicu
Number of null values: 3964872
---
Column: m_ht_in
Number of null values: 3843314
---
Column: rf_fedrg
Number of null values: 49949771
---
Column: ab_aven1
Number of null values: 3964872
---
Column: wtgain
Number of null values: 602505
---
Column: ld_indl
Number of null values: 3912630
---
Column: mar_imp
Number of null values: 50636095
---
Column: dplural
Number of null values: 467
---
Column: ca_cleft
Number of null values: 4012044
---
Column: dlmp_mm
Number of null values: 50664365
---
Column: ca_gast
Number of null values: 4012044
---
Column: mm_mtr
Number of null values: 3965124
---
Column: ca_hypo
Number of null values: 4012044
---
Column: dob_yy
Number of null values: 0
---
Column: ca_cdh
Number of null values: 4012044
---
Column: mracehisp
Number of null values: 200607
---
Column: dob_wk
Number of null values: 0
---
Column: apgar10
Number of null values: 50108016
---
Column: sex
Number of null values: 0
---
Column: ld_augm
Num of unique vals:  2
---
Column: ca_mnsb
Num of unique vals:  2
---
Column: mtran
Num of unique vals:  2
---
Column: rf_cesarn
Num of unique vals:  19
---
Column: me_pres
Num of unique vals:  3
---
Column: rf_artec
Num of unique vals:  2
---
Column: attend
Num of unique vals:  5
---
Column: dob_mm
Num of unique vals:  12
---
Column: ca_disor
Num of unique vals:  1
---
Column: rdmeth_rec
Num of unique vals:  6
---
Column: ca_anen
Num of unique vals:  2
---
Column: ab_surf
Num of unique vals:  2
---
Column: ca_limb
Num of unique vals:  2
---
Column: ca_cchd
Num of unique vals:  2
---
Column: tbo_rec
Num of unique vals:  8
---
Column: ab_aven6
Num of unique vals:  2
---
Column: pay
Num of unique vals:  6
---
Column: mraceimp
Num of unique vals:  2
---
Column: illb_r11
Num of unique vals:  10
---
Column: ilop_r11
Num of unique vals:  10
---
Column: dlmp_yy
Num of unique vals:  15
---
Column: dwgt_r
Num of unique vals:  301
---
Column: me_trial
Num of unique vals:  2
---
Column: ab_anti
Num of unique vals:  2
---
Column: dbwt
Num of unique vals:  6473
---
Column: ilive
Num of unique vals:  2
---
Column: ld_chor
Num of unique vals:  2
---
Column: me_rout
Num of unique vals:  4
---
Column: cig_3
Num of unique vals:  91
---
Column: precare
Num of unique vals:  12
---
Column: priorterm
Num of unique vals:  31
---
Column: ld_ster
Num of unique vals:  2
---
Column: bfacil
Num of unique vals:  7
---
Column: mar_p
Num of unique vals:  4
---
Column: combgest
Num of unique vals:  31
---
Column: itran
Num of unique vals:  2
---
Column: meduc
Num of unique vals:  8
---
Column: cig_0
Num of unique vals:  96
---
Column: lbo_rec
Num of unique vals:  8
---
Column: fagecomb
Num of unique vals:  88
---
Column: bmi
Num of unique vals:  570
---
Column: rf_ppterm
Num of unique vals:  2
---
Column: ab_seiz
Num of unique vals:  2
---
Column: pwgt_r
Num of unique vals:  301
---
Column: ilp_r11
Num of unique vals:  10
---
Column: f_mar_p
Num of unique vals:  2
---
Column: bfed
Num of unique vals:  2
---
Column: apgar5
Num of unique vals:  11
---
Column: mm_rupt
Num of unique vals:  2
---
Column: ca_clpal
Num of unique vals:  2
---
Column: cig_1
Num of unique vals:  96
---
Column: feduc
Num of unique vals:  8
---
Column: ca_omph
Num of unique vals:  2
---
Column: rf_inftr
Num of unique vals:  2
---
Column: mm_plac
Num of unique vals:  2
---
Column: ld_anes
Num of unique vals:  2
---
Column: mm_uhyst
Num of unique vals:  2
---
Column: cig_2
Num of unique vals:  93
---
Column: mager
Num of unique vals:  39
---
Column: ab_nicu
Num of unique vals:  2
---
Column: m_ht_in
Num of unique vals:  49
---
Column: rf_fedrg
Num of unique vals:  2
---
Column: ab_aven1
Num of unique vals:  2
---
Column: wtgain
Num of unique vals:  99
---
Column: ld_indl
Num of unique vals:  2
---
Column: mar_imp
Num of unique vals:  1
---
Column: dplural
Num of unique vals:  4
---
Column: ca_cleft
Num of unique vals:  2
---
Column: dlmp_mm
Num of unique vals:  0
---
Column: ca_gast
Num of unique vals:  2
---
Column: mm_mtr
Num of unique vals:  2
---
Column: ca_hypo
Num of unique vals:  2
---
Column: dob_yy
Num of unique vals:  13
---
Column: ca_cdh
Num of unique vals:  2
---
Column: mracehisp
Num of unique vals:  9
---
Column: dob_wk
Num of unique vals:  7
---
Column: apgar10
Num of unique vals:  11
---
Column: sex
Num of unique vals:  2
---
--------------------DATA BEOFRE CLEANING------------------------------

NameError: name 'data' is not defined

In [ ]:
#null percentages in data BEFORE cleaning
print("--------------DATA BEFORE CLEANING-----------------------")
null_percentages = (data.isnull().sum() / len(data)) * 100

# Filter columns with more than 40% null values
columns_with_high_nulls = null_percentages[null_percentages > 40].index.tolist()

# Print the list of columns
print("Columns with more than 40% null values:/n")
print(columns_with_high_nulls)



#null percentages in data AFTER cleaning
print("--------------CLEANED DATA-----------------------")
null_percentages = (cleaned_data.isnull().sum() / len(cleaned_data)) * 100

# Filter columns with more than 40% null values
columns_with_high_nulls = null_percentages[null_percentages > 40].index.tolist()

# Print the list of columns
print("Columns with more than 40% null values:/n")
print(columns_with_high_nulls)

In [ ]:
cleaned_data.drop(['rf_fedrg', 'rf_artec', 'me_trial', 'apgar10', 'dlmp_mm'], axis=1, inplace=True)

In [ ]:
cleaned_data.info()
data_types = cleaned_data.dtypes
print(data_types)

In [ ]:
#drop rows with large amount of nulls
threshold = 0.3  # 40% null threshold
# Drop rows with more than 40% null values
cleaned_data = cleaned_data.dropna(thresh=cleaned_data.shape[1] * (1 - threshold))

# Print the modified DataFrame
print(cleaned_data)

In [ ]:
cleaned_data = cleaned_data.fillna(np.nan)

In [ ]:
for col in cleaned_data.columns:
    unique_values = cleaned_data[col].unique()
    unique_values_str = ", ".join(str(value) for value in unique_values)
    print(f"Unique values in '{col}': {unique_values_str}")

In [ ]:
for col in cleaned_data.columns:
    if cleaned_data[col].dtype == 'object':
        cleaned_data[col] = pd.to_numeric(cleaned_data[col])

In [ ]:
cleaned_data.info()
data_types = cleaned_data.dtypes
print(data_types)

In [ ]:
cleaned_data.duplicated().sum()

In [ ]:
cleaned_data.drop_duplicates(inplace=True)
cleaned_data.duplicated().sum()

In [6]:
cleaned_data = cleaned_data.drop('mar_p', axis=1)

In [7]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50664365 entries, 0 to 50664364
Data columns (total 77 columns):
 #   Column      Dtype
---  ------      -----
 0   ld_augm     float64
 1   ca_mnsb     float64
 2   mtran       float64
 3   rf_cesarn   float64
 4   me_pres     float64
 5   rf_artec    float64
 6   attend      float64
 7   dob_mm      int64
 8   ca_disor    float64
 9   rdmeth_rec  float64
 10  ca_anen     float64
 11  ab_surf     float64
 12  ca_limb     float64
 13  ca_cchd     float64
 14  tbo_rec     float64
 15  ab_aven6    float64
 16  pay         float64
 17  mraceimp    float64
 18  illb_r11    float64
 19  ilop_r11    float64
 20  dlmp_yy     float64
 21  dwgt_r      float64
 22  me_trial    float64
 23  ab_anti     float64
 24  dbwt        float64
 25  ilive       float64
 26  ld_chor     float64
 27  me_rout     float64
 28  cig_3       float64
 29  precare     float64
 30  priorterm   float64
 31  ld_ster     float64
 32  bfacil      float64
 33  combgest    float64
 34  itran       float64
 35  meduc       float64
 36  cig_0       float64
 37  lbo_rec     float64
 38  fagecomb    float64
 39  bmi         float64
 40  rf_ppterm   float64
 41  ab_seiz     float64
 42  pwgt_r      float64
 43  ilp_r11     float64
 44  f_mar_p     int64
 45  bfed        float64
 46  apgar5      float64
 47  mm_rupt     float64
 48  ca_clpal    float64
 49  cig_1       float64
 50  feduc       float64
 51  ca_omph     float64
 52  rf_inftr    float64
 53  mm_plac     float64
 54  ld_anes     float64
 55  mm_uhyst    float64
 56  cig_2       float64
 57  mager       int64
 58  ab_nicu     float64
 59  m_ht_in     float64
 60  rf_fedrg    float64
 61  ab_aven1    float64
 62  wtgain      float64
 63  ld_indl     float64
 64  mar_imp     float64
 65  dplural     float64
 66  ca_cleft    float64
 67  dlmp_mm     float64
 68  ca_gast     float64
 69  mm_mtr      float64
 70  ca_hypo     float64
 71  dob_yy      int64
 72  ca_cdh      float64
 73  mracehisp   float64
 74  dob_wk      int64
 75  apgar10     float64
 76  sex         int64
dtypes: float64(71), int64(6)
memory usage: 29.1 GB

In [8]:
cleaned_data.to_csv('Data/Joined_Data_2009_2021_cleaned_commonColls_V3.csv', index=False)